@import "./style/typography.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (min-width: 0) {
  p,
  div,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 14px;
  }
}

@media only screen and (min-width: 932px) {
  p,
  div,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 14.5px;
  }
}

@media only screen and (min-width: 1200px) {
  p,
  div,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 15px;
  }
}

.flexible-modal {
  border: 0px !important;
}

.flexible-modal-drag-area {
  background: transparent !important;
}

.flexible-modal-drag-area-left,
.flexible-modal-drag-area-bottom,
.flexible-modal-drag-area-right {
  display: none !important;
}
